# Introduction to Python Developers

## 1 Introduction to Python

In [ ]:
# Use Cases
''' Suitable for
Task automation
Web apps
Artificial Intelligence
    Web scraping
    Content generation/summary
    Image Recognition
'''
''' Not Suitable for
Mobile apps
Hardware Programming
'''

In [ ]:
# slower than Java, C
# but uses Natural Langauge for development

In [1]:
# operators
4 * 10 + 7 + 9+ 23 -4 + 27 / 3 + 3 ** 2 + 7 % 4

96.0

### Variables

In [ ]:
'''
are case sensitive
starts with alphabets or _
variable case conventions are good
default case is usually snake case i.e. total_spend
CamelCase i.e. TotalSpend is also acceptable
'''

In [3]:
customer_age : int = 25 
type(customer_age)

int

In [4]:
customer_average_spend : float = 55.28
type(customer_average_spend)

float

In [5]:
customer_name :str = 'George Boorman' # single quotes
customer_name :str = "George Boorman" # double quotes
type(customer_name)

str

In [7]:
inactive_customer :bool = False # True or False is case sensitive keywords
type(inactive_customer)

bool

## 2 Working with Data types

### Working with Strings

In [1]:
# Double quotes are used for strings with single quotes
customer_name = "George's Boorman"

In [2]:
# methods on strings
customer_name.upper()

"GEORGE'S BOORMAN"

In [4]:
# replacing parts of string
customer_name = customer_name.replace('George', 'John')
print(customer_name)

John's Boorman

In [6]:
# changing Case
customer_name = customer_name.lower() # all lower case
print(customer_name)
customer_name = customer_name.upper() # all upper case
print(customer_name)
customer_name = customer_name.title() # first letter of each word is capitalized
print(customer_name)

john's boorman
JOHN'S BOORMAN
John'S Boorman

In [7]:
# sentences and paragraphs
nineteen_eightyfour = "It was a bright cold day in April, and the clocks were striking thirteen."
print(nineteen_eightyfour)
# multiline strings
harry_potter = """Mr. and Mrs. Dursley, of number four Privet Drive, were proud to say that they were perfectly normal, thank you very much."""
print(harry_potter)

It was a bright cold day in April, and the clocks were striking thirteen.
Mr. and Mrs. Dursley, of number four Privet Drive, were proud to say that they were perfectly normal, thank you very much.

In [8]:
# string cheat sheet
# single quotes
my_string = 'George\'s Boorman'
print(my_string)
# double quotes
my_string = "George's Boorman"
print(my_string)
# multiline strings
my_string = """George's Boorman"""
print(my_string)
# replace
my_string = "George's Boorman"
my_string = my_string.replace('George', 'John')
print(my_string)
# upper
my_string = "George's Boorman"
my_string = my_string.upper()
print(my_string)
# lower
my_string = "George's Boorman"
my_string = my_string.lower()
print(my_string)
# title
my_string = "george's boorman"
my_string = my_string.title()
print(my_string)

George's Boorman
George's Boorman
George's Boorman
John's Boorman
GEORGE'S BOORMAN
george's boorman
George'S Boorman

### Lists

In [9]:
# Variables of product prices
price_one = 10
price_two = 20
price_three = 30
price_four = 15
price_five = 25
price_six = 35

In [10]:
# List to the rescue
product_prices = [10, 20, 30, 15, 25, 35]
print(product_prices)
prices = [price_one, price_two, price_three, price_four, price_five, price_six]
print(prices)

[10, 20, 30, 15, 25, 35]
[10, 20, 30, 15, 25, 35]

In [11]:
# checking the data type
type(product_prices)

list

In [12]:
type("Hello!")

str

In [13]:
# Accessing elements of a list
# Lists are zero-indexed
# First element is at index 0
# Lists are mutable
# Lists are ordered
# Lists can contain duplicates

product_prices[0]

10

In [14]:
# Accessing multiple elements
product_prices[0:3]

[10, 20, 30]

In [15]:
# Lists Cheat Sheet
# Creating a list
product_prices = [10, 20, 30, 15, 25, 35]
print(product_prices)
# Accessing elements
print(product_prices[0])
print(product_prices[0:3])
# Adding elements
product_prices.append(40)
print(product_prices)
# Removing elements
product_prices.remove(40)
print(product_prices)
# Modifying elements
product_prices[0] = 5
print(product_prices)
# Checking the data type
print(type(product_prices))
# Length of the list
print(len(product_prices))
# Sorting the list
product_prices.sort()
print(product_prices)
# Reversing the list
product_prices.reverse()
print(product_prices)
# Removing the last element
product_prices.pop()
print(product_prices)
# Removing the first element
product_prices.pop(0)
print(product_prices)
# step in slicing
print(product_prices[0:5:2])
# List concatenation
product_prices = product_prices + [10, 20]
print(product_prices)
# List repetition
product_prices = product_prices * 2
print(product_prices)
# List membership
print(10 in product_prices)
# List iteration
for price in product_prices:
    print(price)
# List comprehension
product_prices = [price + 5 for price in product_prices]
print(product_prices)

[10, 20, 30, 15, 25, 35]
10
[10, 20, 30]
[10, 20, 30, 15, 25, 35, 40]
[10, 20, 30, 15, 25, 35]
[5, 20, 30, 15, 25, 35]
<class 'list'>
6
[5, 15, 20, 25, 30, 35]
[35, 30, 25, 20, 15, 5]
[35, 30, 25, 20, 15]
[30, 25, 20, 15]
[30, 20]
[30, 25, 20, 15, 10, 20]
[30, 25, 20, 15, 10, 20, 30, 25, 20, 15, 10, 20]
True
30
25
20
15
10
20
30
25
20
15
10
20
[35, 30, 25, 20, 15, 25, 35, 30, 25, 20, 15, 25]

### Dictionaries

In [16]:
# dictionary is a collection of key-value pairs
prices = [10, 20, 30, 15, 25, 35]
# product ids
product_ids = ["AG32", "HT91", "PL65", "OS31", "KB07", "TR48"]
# dictionary
product_prices = {"AG32": 10, "HT91": 20, "PL65": 30, "OS31": 15, "KB07": 25, "TR48": 35}
for key, value in product_prices.items():
    print(key, value)

AG32 10
HT91 20
PL65 30
OS31 15
KB07 25
TR48 35

In [17]:
# dictionary cheat sheet
# Creating a dictionary
product_prices = {"AG32": 10, "HT91": 20, "PL65": 30, "OS31": 15, "KB07": 25, "TR48": 35}
print(product_prices)
# Accessing elements
print(product_prices["AG32"])
# Adding elements
product_prices["JF29"] = 40
print(product_prices)
# Removing elements
del product_prices["JF29"]
print(product_prices)
# Modifying elements
product_prices["AG32"] = 5
print(product_prices)
# Checking the data type
print(type(product_prices))
# Length of the dictionary
print(len(product_prices))
# Dictionary keys
print(product_prices.keys())
# Dictionary values
print(product_prices.values())
# Dictionary items
print(product_prices.items())
# Dictionary iteration
for key, value in product_prices.items():
    print(key, value)
# Dictionary comprehension
product_prices = {key: value + 5 for key, value in product_prices.items()}
print(product_prices)

{'AG32': 10, 'HT91': 20, 'PL65': 30, 'OS31': 15, 'KB07': 25, 'TR48': 35}
10
{'AG32': 10, 'HT91': 20, 'PL65': 30, 'OS31': 15, 'KB07': 25, 'TR48': 35, 'JF29': 40}
{'AG32': 10, 'HT91': 20, 'PL65': 30, 'OS31': 15, 'KB07': 25, 'TR48': 35}
{'AG32': 5, 'HT91': 20, 'PL65': 30, 'OS31': 15, 'KB07': 25, 'TR48': 35}
<class 'dict'>
6
dict_keys(['AG32', 'HT91', 'PL65', 'OS31', 'KB07', 'TR48'])
dict_values([5, 20, 30, 15, 25, 35])
dict_items([('AG32', 5), ('HT91', 20), ('PL65', 30), ('OS31', 15), ('KB07', 25), ('TR48', 35)])
AG32 5
HT91 20
PL65 30
OS31 15
KB07 25
TR48 35
{'AG32': 10, 'HT91': 25, 'PL65': 35, 'OS31': 20, 'KB07': 30, 'TR48': 40}

### Sets and Tuples

#### Sets

In [19]:
'''
Sets are unordered
Sets do not allow duplicates
Sets can add and remove elements but not modify
sets are unique
Sets are quick to search
'''
attendes_set = {"John Smith", "Alan Jones", "Roger Thompson","John Smith", "Brandon Sharp", "Sam Washington"}
print(attendes_set)

{'Sam Washington', 'Roger Thompson', 'John Smith', 'Alan Jones', 'Brandon Sharp'}

In [20]:
# converting a set
attendes_list = ["John Smith", "Alan Jones", "Roger Thompson","John Smith", "Brandon Sharp", "Sam Washington"]
attendes_set = set(attendes_list)
print(attendes_set)

{'Sam Washington', 'Brandon Sharp', 'Roger Thompson', 'John Smith', 'Alan Jones'}

In [21]:
# limitations of a set
''' 
Sets can't have duplicates
'''
# sorting a set
attendes_set = sorted(attendes_set)
print(attendes_set)

['Alan Jones', 'Brandon Sharp', 'John Smith', 'Roger Thompson', 'Sam Washington']

#### Tuples

In [23]:
''' 
Tuples are ordered
Tuples are immutable
Tuples can contain duplicates
Tuples are indexed
'''

' '

In [24]:
# Creating a tuple
product_prices = (10, 20, 30, 15, 25, 35)
print(product_prices)
# Accessing elements
print(product_prices[0])
print(product_prices[0:3])
# Checking the data type
print(type(product_prices))
# Length of the tuple
print(len(product_prices))
# Tuple iteration
for price in product_prices:
    print(price)
# Tuple concatenation
product_prices = product_prices + (10, 20)
print(product_prices)
# Tuple repetition
product_prices = product_prices * 2
print(product_prices)
# Tuple membership
print(10 in product_prices)
# Tuple comprehension
product_prices = tuple(price + 5 for price in product_prices)
print(product_prices)

(10, 20, 30, 15, 25, 35)
10
(10, 20, 30)
<class 'tuple'>
6
10
20
30
15
25
35
(10, 20, 30, 15, 25, 35, 10, 20)
(10, 20, 30, 15, 25, 35, 10, 20, 10, 20, 30, 15, 25, 35, 10, 20)
True
(15, 25, 35, 20, 30, 40, 15, 25, 15, 25, 35, 20, 30, 40, 15, 25)

### Data Structures Summary

| Data structure | Syntax | Immutable | Allow duplicate values | Ordered | Subset with [] |
| -------- | ------- | -------- | ------- | -------- | ------- |
| List | ```[1, 2, 3]``` | No | Yes | Yes | Yes - index |
| Dictionary | ```{key:value}``` | No | Yes | Yes | Yes - key |
| Set | ```{1, 2, 3}``` | No | No | No | No |
| Tuples | ```(1, 2, 3)``` | Yes | Yes | Yes | Yes - index |

## 3. Conditional Statements and operators

In [26]:
# Booleans
the_truth = True
the_lie = False
print(the_truth)
print(the_lie)

True
False

In [27]:
# Operators 
# Arithmetic Operators
# Addition
print(10 + 5)
# Subtraction
print(10 - 5)
# Multiplication
print(10 * 5)
# Division
print(10 / 5)
# Floor Division
print(10 // 5)
# Modulus
print(10 % 5)
# Exponentiation
print(10 ** 5)
# Comparison Operators
# Equal
print(10 == 5)
# Not Equal
print(10 != 5)
# Greater Than
print(10 > 5)
# Less Than
print(10 < 5)
# Greater Than or Equal
print(10 >= 5)
# Less Than or Equal
print(10 <= 5)
# Logical Operators
# AND
print(True and False)
# OR
print(True or False)
# NOT
print(not True)
# Membership Operators
# IN
print(10 in [5, 10, 15])
# NOT IN
print(10 not in [5, 10, 15])
# Identity Operators
# IS
print(10 is 5)
# IS NOT
print(10 is not 5)

15
5
50
2.0
2
0
100000
False
True
True
False
True
False
False
True
False
True
False
False
True

<>:44: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:46: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:44: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:46: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/var/folders/vb/cqs_l67s0g91rr33sz6p92cw0000gn/T/ipykernel_6778/1886031256.py:44: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(10 is 5)
/var/folders/vb/cqs_l67s0g91rr33sz6p92cw0000gn/T/ipykernel_6778/1886031256.py:46: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print(10 is not 5)

In [28]:
# conditional statements
# if
if 10 > 5:
    print("10 is greater than 5")
# if else
if 10 < 5:
    print("10 is less than 5")
else:
    print("10 is greater than 5")
# if elif else
if 10 < 5:
    print("10 is less than 5")
elif 10 == 5:
    print("10 is equal to 5")
else:
    print("10 is greater than 5")

10 is greater than 5
10 is greater than 5
10 is greater than 5

In [29]:
# Indentation is important
# Indentation is done using tabs or spaces
# Indentation is consistent
# Indentation is usually 4 spaces
# Indentation is used to define a block of code
try:
    if 10 > 5:
    print("10 is greater than 5")
except:
    print("Indentation Error")

IndentationError: expected an indented block after 'if' statement on line 7 (198215461.py, line 8)

### For Loops

In [31]:
# Individual comparisons
prices = [10, 20, 30, 15, 25, 35]
prices[0] > 9.99

True

In [32]:
# For loop syntax
# for item in iterable:
#     code block
for price in prices:
    print(price)

10
20
30
15
25
35

In [33]:
# printing individual elements with condition
for price in prices:
    if price > 9.99:
        print(price)

10
20
30
15
25
35

In [34]:
# Looping through strings
username = 'george_dc'
for letter in username:
    print(letter)

g
e
o
r
g
e
_
d
c

In [35]:
# Looping through dictionaries
product_prices = {"AG32": 10, "HT91": 20, "PL65": 30, "OS31": 15, "KB07": 25, "TR48": 35}
for key, value in product_prices.items():
    print(key, value)

AG32 10
HT91 20
PL65 30
OS31 15
KB07 25
TR48 35

In [36]:
# Range
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [37]:
# Building a counter
counter = 0
for number in range(10):
    counter = counter + 1
print(counter)

10

### While Loops

In [40]:
# While loop syntax
# while condition:
#     code block
stock = 10
while stock > 0:
    print(stock)
    stock = stock - 1
print("Out of stock")
# be careful with infinite loops
# while True:
#     print("Infinite Loop")

10
9
8
7
6
5
4
3
2
1
Out of stock

In [41]:
# Breaking a loop
stock = 10
while stock > 0:
    print(stock)
    stock = stock - 1
    if stock == 5:
        break
print("Out of stock")

10
9
8
7
6
Out of stock

In [42]:
# Skipping an iteration
stock = 10
while stock > 0:
    stock = stock - 1
    if stock == 5:
        continue
    print(stock)

9
8
7
6
4
3
2
1
0

In [43]:
### Building a workflow
# Loops through data structures
    # for, while
# Evaluates conditions
    # if, elif, else, >, <, ==, !=, >=, <=
# Update variables
    # +=
# Return values/outputs
    # print()

In [44]:
# in keyword
products_dict = {"AG32": 10, "HT91": 20, "PL65": 30, "OS31": 15, "KB07": 25, "TR48": 35}
print("AG32" in products_dict)
print("JF29" in products_dict)

True
False

In [45]:
# not in keyword
products_dict = {"AG32": 10, "HT91": 20, "PL65": 30, "OS31": 15, "KB07": 25, "TR48": 35}
print("AG32" not in products_dict)
print("JF29" not in products_dict)

False
True

In [46]:
# and keyword
print(10 > 5 and 10 < 20)
print(10 > 5 and 10 > 20)

True
False

In [47]:
# or keyword
print(10 > 5 or 10 < 20)
print(10 < 5 or 10 > 20)

True
False

In [48]:
# adding / subtracting / multiplying / dividing
total = 0
total = total + 10
total = total - 5
total = total * 2
total = total / 3
print(total)

3.3333333333333335

In [49]:
# Appending
product_prices = [10, 20, 30, 15, 25, 35]
product_prices.append(40)
print(product_prices)

[10, 20, 30, 15, 25, 35, 40]