In [1]:
import pandas as pd
import numpy as np
import os
from pandas_profiling import ProfileReport
# BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
wh = pd.read_csv('https://www.cs.helsinki.fi/u/jttoivon/dap/data/fmi/kumpula-weather-2017.csv')
wh2 = wh.drop(["Year", "m", "d"], axis=1)  # taking averages over these is not very interesting
wh2

,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,00:00,UTC,-1.0,-1.0,0.6
1,00:00,UTC,4.4,-1.0,-3.9
2,00:00,UTC,6.6,7.0,-6.5
3,00:00,UTC,-1.0,13.0,-12.8
4,00:00,UTC,-1.0,10.0,-17.8
...,...,...,...,...,...
360,00:00,UTC,1.1,-1.0,3.8
361,00:00,UTC,3.7,-1.0,2.8
362,00:00,UTC,7.8,-1.0,3.8
363,00:00,UTC,4.1,-1.0,2.5
364,00:00,UTC,3.2,-1.0,1.6

In [4]:
wh.describe()['Snow depth (cm)']['max']

count    358.000000
mean       0.966480
std        3.717472
min       -1.000000
25%       -1.000000
50%       -1.000000
75%        0.000000
max       15.000000
Name: Snow depth (cm), dtype: float64